@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Paleta de cores */

:root{
   --azul:#0081A7;
   --anil:#00AFB9;
   --amarelo-claro:#FDFCDC;
   --salmao-claro:#FED9B7;
   --salmao-forte:#F07167;
   --branco: #fff;
   --fundotransparente: rgba(253, 246, 245, 0.3);   

}


.container{
   background-color: var(--salmao-forte);
   margin: 0 auto;
  overflow: hidden;
   display: flex;
   flex-direction: column;
   font-family: 'Lexend', Arial, sans-serif;
   
}

#bloco-container{
   justify-content: center;
}

/* CSS DO CABECALHO */
#cabecalho{
   display: flex;
   flex-direction: row;
   padding: 0 5%;
   height: 10vh;
   align-items: center;
   justify-content: space-between;
   background-color: var(--fundotransparente);
   opacity: 80%;
   font-weight: 800;
   font-size: 2.5rem;
}
#cabecalho .titulo{
   text-decoration: none;
   color: var(--amarelo-claro);
}
#cabecalho h1{
   display: none;
}


nav#menu-principal{
   height: 100%;
}

.botao-menu-principal{
   padding: 10px;
   height: 100%;
   background: transparent;
   font-family: 'Lexend', Arial, sans-serif;
   font-size: 1rem;
   color: var(--branco);
   text-transform: uppercase;
   letter-spacing: 1px;
   border: none;
   margin-left: 10px;
   margin-right: 10px;
   cursor: pointer;
   transition: all .3s linear;
}


.botao-menu-principal:hover{
   color: #F07167;
   background: var(--amarelo-claro);
}

/* CSS DO MAIN BLOCO PRINCIPAL - ONDE SERÁ EXIBIDO O CONTEUDO */
#bloco-principal{
   display: flex;
   height: 90vh;
   flex-direction: column;
   justify-content:space-between;
   transition: all .3s linear;
}


#conteudo{
   display: flex;
   flex-direction: row;
   justify-content: center;
   transform: translate(5%,0);
   padding: 2% 2% ;

} 


/* CSS DO BLOCO DO CRONOMETRO */

.pomodoro-container{
   width:30%;
   background-color: var(--fundotransparente);
   border-radius: 30px;
   color: var(--branco);
   text-align: center;
   display: flex;
   flex-direction: column;
   padding: 30px;
}

#nome-da-tarefa{
   background-color: transparent;
   border: none;
   font-size: 2rem;
   color: var(--branco);
   margin: 0;
   text-align: center;
}

#nome-da-tarefa::-webkit-input-placeholder{
   color: var(--branco);
}

.pomodoro-container h2{
   font-size: 100px;
   margin: 50px 0px;
}


#botao-iniciar-pausar{
   height: 30%;
   border: none;
   border-radius: 10px;
   font-size: 2em;
   text-transform: uppercase;
   color: var(--salmao-forte); /* Aqui é alterado o CSS do botao iniciar */
   letter-spacing: 1px;
   font-family: 'Lexend',Arial, Helvetica, sans-serif;
   background-color: var(--branco);
   cursor: pointer;
}

#botoes-avancar-zerar{
   height: 70px;
   margin-top: 5%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   
}

#botao-avancar, #botao-zerar{
   display: block;
   height: 100%;
   width: 40%;
   border: none;
   border-radius: 7px;
   font-family: 'Lexend',Arial, Helvetica, sans-serif;
   font-size: 1em;
   color: var(--salmao-forte); /* Aqui é alterado o CSS dos botoes avancar e zerar */
   text-transform: uppercase;
   background-color: var(--branco);
   cursor: pointer;
}


/* CSS DOS BOTÕES QUE MARCAM O CICLO */
.ciclos{
   display: flex;
   flex-direction: column;
   padding-top: 20px;
   width: 10%;
}

.ciclos p{
   margin: 0;
   color: var(--branco);
   font-size: 13px;
}

.botao-ciclo{
   width: 50px;
   height: 50px;
   border-style:double;
   border:none;
   color: var(--branco);
   background-color: var(--fundotransparente);
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   transition: all .3s linear;
}



/* CSS DO RODAPÉ */
#rodape{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-left: 5%;
   padding-right: 20%;
   justify-content: space-between;
   font-weight: 400;
}
#rodape p{
   background-color: var(--fundotransparente);
   padding: 5px 10px;
   border-radius: 15px;
   color: var(--branco);
   font-size: 10pt;
}

#rodape #icones-midias-sociais{
   background-color: var(--fundotransparente);
   padding: 5px 10px 1px 10px;
   border-radius: 15px;
   align-items: center;
}
#icones-midias-sociais a{
   margin-inline: 5px;
}

/* CSS DA PAGINA SOBRE.HTML*/

#fundo-sobre{

   background-image: url('../images/tomate-fundo-1000.jpg');
   background-repeat:no-repeat;
   background-size:cover;
   padding: 5%;
   overflow-y: hidden;
}

#texto-sobre-tecnica{
   width: 100%;
}


/* CSS da Div SAIBA MAIS */

#saiba-mais{
   display: none;
   position: absolute;
   height: 460px;
   width: 580px;
   background-color: var(--amarelo-claro);
   border-radius: 30px;
   z-index: 10;
   top: calc(100vh/2);
   left: calc(100vw/2);
   transform: translate(-50%,-50%);
   padding: 20px;
   flex-direction: row-reverse;
   justify-content: flex-end;
}

#saiba-mais input{
   height: 20px;
}

#saiba-mais article{
   font-size: 10px;
}
