@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Paleta de cores
#0081A7 -azul
#00AFB9 - anil
#FDFCDC - amarelo claro
#FED9B7 - salmao claro
#F07167 - salmao forte*/

.container{
   background-color: #FFE3E0;
   margin: 0;
   display: flex;
   flex-direction: column;
   font-family: 'Lexend', Arial, sans-serif;
}

/* CSS DO CABECALHO */
#cabecalho{
   display: flex;
   flex-direction: row;
   padding-left: 5%;
   padding-right: 20%;
   height: 10vh;
   align-items: center;
   justify-content: space-between;
   background-color: #F07167;
   font-weight: 800;
   font-size: 20pt;
   color: #FDFCDC;
}
#cabecalho .titulo{
   text-decoration: none;
   color: #FDFCDC;
}
#cabecalho h1{
   display: none;
}


nav#menu-principal{
   height: 100%;
}

.botao-menu-principal{
   padding: 10px;
   height: 100%;
   background: transparent;
   font-family: 'Lexend', Arial, sans-serif;
   color: #FDFCDC;
   text-transform: uppercase;
   letter-spacing: 1px;
   border: none;
   margin-left: 10px;
   margin-right: 10px;
   cursor: pointer;
   transition: all .3s linear;
}


.botao-menu-principal:hover{
   color: #F07167;
   background: #FDFCDC;
}

/* CSS DO MAIN BLOCO PRINCIPAL - ONDE SERÁ EXIBIDO O CONTEUDO */
#bloco-principal{
   display: flex;
   height: 90vh;
   background-color:#FFE3E0;
   flex-direction: column;
   justify-content:space-between
}
#conteudo{
   display: flex;
   flex-direction: row;
   padding: 2% 5% ;
} 


/* CSS DO BLOCO DO CRONOMETRO */

.pomodoro-container{
   width:30%;
   background-color: #fdf6f5d2;
   border-radius: 30px;
   color: #F07167;
   text-align: center;
   display: flex;
   flex-direction: column;
   padding: 30px;
}

.pomodoro-container h1{
   font-size: 25px;
   margin: 0;
}

.pomodoro-container h2{
   font-size: 80px;
   margin: 50px 0px;
}

#botao-iniciar-pausar{
   height: 15%;
   border: none;
   font-size: 1.5em;
   text-transform: uppercase;
   color: #FDFCDC;
   letter-spacing: 1px;
   font-family: 'Lexend',Arial, Helvetica, sans-serif;
   background-color: #F07167;
   cursor: pointer;
}
#botoes-avancar-zerar{
   height: 10%;
   margin-top: 2%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
#botao-avancar, #botao-zerar{
   height: 100%;
   width: 40%;
   border: none;
   font-family: 'Lexend',Arial, Helvetica, sans-serif;
   color: #F07167;
   text-transform: uppercase;
   background-color: #FFE3E0;
   cursor: pointer;
}


/* CSS DOS BOTÕES QUE MARCAM O CICLO */
.ciclos{
   display: flex;
   flex-direction: column;
   padding-top: 20px;
   width: 10%;
}

.ciclos p{
   margin: 0;
   color:#F07167;
   font-size: 13px;
}
.botao-ciclo{
   width: 50px;
   height: 50px;
   border-style:double;
   border:none;
   color: #F07167;
   background-color: #fdf6f5d2;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
}



/* CSS DO RODAPÉ */
#rodape{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-left: 5%;
   padding-right: 20%;
   justify-content: space-between;
   font-weight: 400;
}
#rodape p{
   background-color: #f0706765;
   padding: 5px 10px;
   border-radius: 15px;
   color: white;
   font-size: 10pt;
}

#rodape #icones-midias-sociais{
   background-color: #f0706765;
   padding: 5px 10px 1px 10px;
   border-radius: 15px;
   align-items: center;
}
#icones-midias-sociais a{
   margin-inline: 5px;
}

/* CSS DA PAGINA SOBRE.HTML*/

#fundo-sobre{
   height: 90vh;
   background-color: white;
   padding: 5%;
}